<h2> Sign Up </h2>

<form (ngSubmit)="submitSignup()">
  <label for="first-name-input">First Name</label>
  <input id="first-name-input" type="text" placeholder="Max"
    name="firstName" [(ngModel)] = "newUser.signupFirstName" />

  <label for="last-name-input">Last Name</label>
  <input id="last-name-input" type="text" placeholder="Rockatansky"
    name="lastName" [(ngModel)]= "newUser.signupLastName"/>

  <label for="email-input">Email</label>
  <input id="email-input" type="email" placeholder="madmax@furyroad.com"
    name="email" [(ngModel)]= "newUser.signupEmail"/>

  <label for="password-input">Password</label>
  <input id="password-input" type="password" placeholder="*******"
    name="userPassword" [(ngModel)]="newUser.signupPassword"/>

  <button> Sign Up </button>
</form>
