<!-- <p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p> -->


<div>
  <div class="col-sm-9 ally-list">
    <h2> Your Allies </h2>

  <div class="ally pull-left" *ngFor = "let oneAlly of allies">
      <img src="/assets/user-icon-large.png"/>
      <p class="ally-first-name">{{ oneAlly.firstName }}</p>
      <p class="ally-last-name">{{oneAlly.lastName}} </p>
      <p class="ally-date"> Joined: {{ oneAlly.createdAt | date:'mediumDate'}}</p>
    <a href="mailto:{{oneAlly.email}}"> {{oneAlly.email}} </a>
  </div>
</div>

  <div class="col-sm-3 right">

    <app-recent-survivor></app-recent-survivor>
    <img src="/assets/ad1.png">
    <img src="/assets/ad2.png">
    <img src="/assets/ad3.png">
  </div>
</div>
