
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">ZURVIVE</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/user-home">Profile</a></li>
        <li><a routerLink="/my-allies">My Allies</a></li>
        <li><a routerLink="/supplies">MarketPlace</a></li>
        <li><a routerLink="/login">Log In</a></li>

        <button (click) = "logMeOut()"> Log Out </button>
      </ul>

      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>










<!-- <agm-map
[latitude]="lat"
[longitude]="lng"
[zoom] = "zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClick($event)">
  <agm-marker
  *ngFor="let m of markers; let i = index"
  (markerClick)="clickedMarker(m, i)"
  [latitude]="m.lat"
  [longitude]="m.lng"
  [markerDraggable]="m.draggable"
  (dragEnd)="markerDragEnd(m, $event)"
  >
</agm-marker>
</agm-map> -->

<router-outlet></router-outlet>
