<header>
  <nav>
    <a routerLink="/"> Home </a>
    <br />
    <a routerLink="/login"> Log In </a>
    <br />

    <button (click) = "logMeOut()"> Log Out </button>
  </nav>
</header>


<agm-map
[latitude]="lat"
[longitude]="lng"
[zoom] = "zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClick($event)">
  <agm-marker
  *ngFor="let m of markers; let i = index"
  (markerClick)="clickedMarker(m, i)"
  [latitude]="m.lat"
  [longitude]="m.lng"
  [markerDraggable]="m.draggable"
  (dragEnd)="markerDragEnd(m, $event)"
  >
</agm-marker>
</agm-map>

<router-outlet></router-outlet>
