.logo{
  width: 108px;
}

.container-fluid a{
  color: white;
}

button{
  background-color: #AE6D4C;
  padding: 4px;
  width: 60px;
  color: white;
  font-size: 14px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  margin: 11px 14px;
}
