  <div class="row">
    <div class="col-sm-9 left">
      <h2> Your Wall </h2>
      <div class="post-feed-wrapper well form-group">

          <form class="post-form"(ngSubmit) = "receiveCow()">
            <input id="textContent" type="text" placeholder="How's the apocalypse today?"
              class="form-control" name="postContent" [(ngModel)]="newPost.textContent"/>

              <hr />
            <button class="submit btn pull-right"> Submit Post </button>
            <input  id="post-image-input" type="file"
              name="postImage" ng2FileSelect [uploader]="myUploader">
          </form>

          <button class="upload btn pull-left"> Upload Image </button>
          <div class="clearfix">

          </div>
      </div>
      <h2> Recent Posts </h2>
      <div *ngFor= "let onePost of posts">
        <div class= "well">
          <img [src] = "imageDomain + onePost.postImage" />
          <h4> {{ onePost.author.firstName }} {{ onePost.author.lastName }}</h4>

          <p>
            {{ onePost.textContent }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 right">

      <app-recent-survivor></app-recent-survivor>
    </div>
  </div>
