  <div class="row">
    <div class="col-sm-9 left">
      <div class="post-feed-wrapper well form-group">

          <form class="post-form"(ngSubmit) = "receiveCow()">
            <label for="textContent"></label>
            <input id="textContent" type="text" placeholder="How's the apocalypse today?"
              class="form-control" name="postContent" [(ngModel)]="newPost.textContent"/>

            <button class="submit btn"> Submit Post </button>

          </form>

          <button class="upload btn"> Upload Image </button>
      </div>
      <h2> Recent Posts </h2>
      <div *ngFor= "let onePost of posts">
        <div class= "well">
          <h4> {{ onePost.author.firstName }} {{ onePost.author.lastName }}</h4>

          <p>
            {{ onePost.textContent }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 right">
      <app-recent-survivor></app-recent-survivor>
    </div>
  </div>
