  <div class="row">
    <div class="col-sm-9 left">
      <h2> Your Wall </h2>
      <div class="post-feed-wrapper well form-group">

          <form class="post-form"(ngSubmit) = "receiveCow()">
            <input id="textContent" type="text" placeholder="How's the apocalypse today?"
              class="form-control" name="postContent" [(ngModel)]="newPost.textContent"/>

              <hr />
            <button class="submit btn pull-right"> Submit Post </button>
            <input class="file-upload" id="post-image-input" type="file"
              name="postImage" ng2FileSelect [uploader]="myUploader">
          </form>

          <!-- <button class="upload btn pull-left"> Upload Image </button>
          <div class="clearfix">

          </div> -->
      </div>
      <h2> Recent Posts </h2>
      <div *ngFor= "let onePost of posts">
        <div class="post">
          <div class="post-header">
            <img class="pull-left user-icon" src="/assets/user-icon.png"/>
            <h4> {{ onePost.author.firstName }} <span>{{ onePost.author.lastName }}</span></h4>
            <h5> {{ onePost.createdAt | date:'mediumDate' }} <span>{{ onePost.createdAt | date: 'shortTime' }}</span></h5>
            <div class="clearfix">

            </div>
          </div>
          <div class="post-content">
            <!-- <img [src]="imageDomain + onePost.image" /> -->
            <img src="/assets/post-placeholder.jpg" />

            <p>
              {{ onePost.textContent }}
            </p>
            <div class="div-social">
              <span><img src="/assets/comment-icon.png"/> Comment</span>
              <span><img src="/assets/like-icon.png"/> Like</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 right">

      <app-recent-survivor></app-recent-survivor>
    </div>
  </div>
