.post-feed-wrapper{
  margin-top: 20px;
}


input{
  padding: 30px 0px 70px 20px;
  border-radius: 0px;
  border: none;
  box-shadow: none;

}


.btn{
  color: white;
  font-size: 13px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

.submit {
  background-color: #ae6554;

}

.upload {
  background-color: #b4a1a7;
}

.left{
  padding: 60px;
}

.row{
  margin: 0px;
}

.right{
  padding: 0px;
}

hr{
  border-color: #9CA4A6;
  margin: 16px -18px;
}
