<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="post-feed-wrapper well form-group">

          <form (ngSubmit)="submitSupply()">
            <label for="productName"> What is the supply?</label>
            <input id="productName" type="text" placeholder="e.g. Shampoo"
              class="form-control" name="supplyName" [(ngModel)]="newSupply.productName"/>

          <label for="productDescription"> Description </label>
          <input id="productDescription" type="text" placeholder="e.g. Rich, luxorious lather"
            class="form-control" name="productDescription" [(ngModel)]="newSupply.productDescription"/>

          <label for="productValue"> What do you want in return?</label>
          <input id="productValue" type="text" placeholder="e.g. Seeking canned beans"
            class="form-control" name="supplyValue" [(ngModel)]="newSupply.productValue"/>

          <input class="file-upload" id="post-image-input" type="file"
            name="postImage" ng2FileSelect [uploader]="myUploader">

          <button class="btn btn-success"> Post </button>

          </form>
      </div>
    </div>
  </div>
<ul>
  <li *ngFor= "let oneSupply of supplies">
    <div class="supply">
      <img class="pull-left" src="/assets/supplies-icon.png"/>
      <div class="supply-text pull-left">

      <img [src]="imageDomain + oneSupply.supplyImage" />
      <h3 class="supply-name"> {{ oneSupply.productName }}</h3>
      <p class="supply-description"> {{ oneSupply.productDescription }} </p>
      <div class="supply-trade">
        <p class="supply-value"> Trading for {{ oneSupply.productValue }} </p>
      </div>
      </div>
      <!-- <a [routerLink] = "['/supplies',k oneSupply._id]">Details</a> -->
      <div class="clearfix">

      </div>
    </div>
  </li>
</ul>

</div>
