<div class="row">
  <div class="col-sm-8">
    <div class="post-feed-wrapper well form-group">

        <form>
          <label for="productName"> What is the supply?</label>
          <input id="productName" type="text" placeholder="e.g. Shampoo"
            class="form-control" name="supplyName" [(ngModel)]="newSupply.productName"/>

        <label for="productDescription"> Description </label>
        <input id="productDescription" type="text" placeholder="e.g. Rich, luxorious lather"
          class="form-control" name="productDescription" [(ngModel)]="newSupply.productDescription"/>

        <label for="productValue"> What are you looking for?</label>
        <input id="productValue" type="text" placeholder="e.g. Seeking canned beans"
          class="form-control" name="supplyValue" [(ngModel)]="newSupply.productValue"/>

        <label for="productTag"> What is the supply?</label>
        <input id="productTag" type="text" placeholder="e.g. Hygeine"
            class="form-control" name="supplyTag" [(ngModel)]="newSupply.productTag"/>

        <button class="btn btn-success"> Post </button>

        </form>
    </div>
  </div>
</div>
<ul>
  <li *ngFor= "let oneSupply of supplies">
    <div class="supply">
      <h3> {{ oneSupply.productName }}</h3>
      <p> {{ oneSupply.productValue }} </p>
    </div>
  </li>
</ul>
