/* You can add global styles to this file, and also import other style files */
.well{
  background-color: #eee7d6;
  border-radius: 0px;
  box-shadow: none;
  border: none;
}

.container-fluid{
  background-color: #3f4e56;
}

body{
  font-family: futura;
  padding-top: 51px;
  background: #afb6b7; /* Old browsers */
  background: -moz-linear-gradient(top, #afb6b7 0%, #c1c8c7 18%, #c9d1cb 35%, #dae2d9 52%, #f8f0e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #afb6b7 0%,#c1c8c7 18%,#c9d1cb 35%,#dae2d9 52%,#f8f0e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #afb6b7 0%,#c1c8c7 18%,#c9d1cb 35%,#dae2d9 52%,#f8f0e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afb6b7', endColorstr='#f8f0e8',GradientType=0 ); /* IE6-9 */
  font-family: futura;
  height: 100vh;
  position: relative;
}

agm-map {
  height: 250px;
  width: 250px;
}
