<h2> Recent Survivors </h2>

<p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<div class="recent-survivor">
  <ul>
    <li *ngFor="let oneSurvivor of survivors">
      <img class="pull-left user-icon" src="/assets/user-icon.png"/>
      <p> {{ oneSurvivor.firstName }} {{ oneSurvivor.lastName }} <br /> Joined: {{oneSurvivor.createdAt | date:'mediumDate' }}</p>
      <!-- <a routerLink="/survivor-details">Details</a> -->
      <button class="btn pull-right" (click) = "addAlly(oneSurvivor._id)"> Add Ally </button>
      <hr />
    </li>
  </ul>
</div>
