.recent-survivor{
  overflow: auto;
  height: 410px;
  background-color: white;
}

ul{
  margin: 0px;
  padding: 0px;
}

li{
  list-style: none;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
  text-transform: capitalize;

}

li img{
  margin: 5px 13px;
}

button {
  background-color: #ae6554;
  color: white;
  font-size: 13px;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  margin-left: 10px;
}

span{
  color: #ae6554;
  font-weight: lighter;
}
